<!doctype html>
<html lang="ko" data-theme="light" translate="no">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>재고현황조회</title>
    <meta name="description" content="A basic custom template for Pico using only CSS custom properties (variables). Built with Pico CSS.">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <link rel="canonical" href="https://picocss.com/examples/basic-template/">

    <!-- Pico.css -->
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

    <!-- Custom template-->
    <link rel="stylesheet" type= "text/css" href= "static/styles/custom.css">
    <!--link rel="stylesheet" type= "text/css" href= "{{css_path}}"-->

    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo(0, scrollPosition);
            sessionStorage.removeItem('scrollPosition');
        }

        window.addEventListener('scroll', function() {
            sessionStorage.setItem('scrollPosition', window.scrollY);
        });
    });
    </script>
    <!-- HTML 파일에 아래 스크립트 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            window.addEventListener('beforeunload', function () {
                // 브라우저가 닫힐 때 WebSocket을 통해 서버에 이벤트 전송
                socket.emit('disconnect');
            });
        });
    </script>

  </head>

  <body>
    <header class="container"><!-- ./ Header -->
      <hgroup>
        <h1>통합전산 판매재고조회</h1>
        <h2>(주)피에이치오리테일</h2>
      </hgroup>
    </header>

    <main class="container"><!-- Main -->
      <form action="/"><!-- 종류모델명_1 -->
        <div class="grid">
          <div class="grid"><!-- 종류, 모델명, 조회 -->
            <div><!-- 종류 -->
                <label for="select">종류</label>
                <select id="select" name="type" required>
                  <option value="{{cloth_type}}" selected>선택…</option>
                  <option{% if cloth_type == 'Mbtm' %} selected{% endif %}>Mbtm</option>
                  <option{% if cloth_type == 'Wbtm' %} selected{% endif %}>Wbtm</option>
                  <option{% if cloth_type == 'Mtop' %} selected{% endif %}>Mtop</option>
                  <option{% if cloth_type == 'Wtop' %} selected{% endif %}>Wtop</option>
                  <option{% if cloth_type == 'Acc' %} selected{% endif %}>Acc</option>
                </select>
            </div>
            <div><!-- 모델명 -->
              <label for="valid">
                모델명
                <input type="text" id="valid" name="model" placeholder="{{model}}" aria-invalid="{{invalidity}}" value="">
              </label>
            </div>
            <div><!-- 버튼 -->
              <label for="valid">
                &nbsp
                <input type="submit" value="조회">
              </label>
            </div>
          </div>
          <div class="grid"><!-- Season, MSRP -->
            <div><!-- 시즌 -->
              <label for="select">시즌</label>
              <button class="contrast" onclick="event.preventDefault()">{{Season}}</button>
            </div>
            <div><!-- MSRP -->
              <label for="select">MSRP</label>
              <button class="contrast" onclick="event.preventDefault()">{{MSRP}}</button>
            </div>
          </div>
        </div>
      </form>
        
      <div class="grid"><!-- 표_1 -->
        <div><!-- 재고조회 표 -->
          <section id="tables">
            <figure>
              <label for="tables">재고조회</label>
              <table role="grid">
                <thead>
                  <tr>
                    <th scope="col">매장명</th>
                    <td>{{stock_data['size'][0]}}</td>
                    <td>{{stock_data['size'][1]}}</td>
                    <td>{{stock_data['size'][2]}}</td>
                    <td>{{stock_data['size'][3]}}</td>
                    <td>{{stock_data['size'][4]}}</td>
                    <td>{{stock_data['size'][5]}}</td>
                    <td>{{stock_data['size'][6]}}</td>
                    <td>{{stock_data['size'][7]}}</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">NC 불광</th>
                    <td>{{stock_data['NC불광'][0]}}</td>
                    <td>{{stock_data['NC불광'][1]}}</td>
                    <td>{{stock_data['NC불광'][2]}}</td>
                    <td>{{stock_data['NC불광'][3]}}</td>
                    <td>{{stock_data['NC불광'][4]}}</td>
                    <td>{{stock_data['NC불광'][5]}}</td>
                    <td>{{stock_data['NC불광'][6]}}</td>
                    <td>{{stock_data['NC불광'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">MD 구리</th>
                    <td>{{stock_data['MD구리'][0]}}</td>
                    <td>{{stock_data['MD구리'][1]}}</td>
                    <td>{{stock_data['MD구리'][2]}}</td>
                    <td>{{stock_data['MD구리'][3]}}</td>
                    <td>{{stock_data['MD구리'][4]}}</td>
                    <td>{{stock_data['MD구리'][5]}}</td>
                    <td>{{stock_data['MD구리'][6]}}</td>
                    <td>{{stock_data['MD구리'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2001 분당</th>
                    <td>{{stock_data['TO분당'][0]}}</td>
                    <td>{{stock_data['TO분당'][1]}}</td>
                    <td>{{stock_data['TO분당'][2]}}</td>
                    <td>{{stock_data['TO분당'][3]}}</td>
                    <td>{{stock_data['TO분당'][4]}}</td>
                    <td>{{stock_data['TO분당'][5]}}</td>
                    <td>{{stock_data['TO분당'][6]}}</td>
                    <td>{{stock_data['TO분당'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">LT 청주</th>
                    <td>{{stock_data['LT청주'][0]}}</td>
                    <td>{{stock_data['LT청주'][1]}}</td>
                    <td>{{stock_data['LT청주'][2]}}</td>
                    <td>{{stock_data['LT청주'][3]}}</td>
                    <td>{{stock_data['LT청주'][4]}}</td>
                    <td>{{stock_data['LT청주'][5]}}</td>
                    <td>{{stock_data['LT청주'][6]}}</td>
                    <td>{{stock_data['LT청주'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">MD 부평</th>
                    <td>{{stock_data['MD부평'][0]}}</td>
                    <td>{{stock_data['MD부평'][1]}}</td>
                    <td>{{stock_data['MD부평'][2]}}</td>
                    <td>{{stock_data['MD부평'][3]}}</td>
                    <td>{{stock_data['MD부평'][4]}}</td>
                    <td>{{stock_data['MD부평'][5]}}</td>
                    <td>{{stock_data['MD부평'][6]}}</td>
                    <td>{{stock_data['MD부평'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">NC 청주</th>
                    <td>{{stock_data['NC청주'][0]}}</td>
                    <td>{{stock_data['NC청주'][1]}}</td>
                    <td>{{stock_data['NC청주'][2]}}</td>
                    <td>{{stock_data['NC청주'][3]}}</td>
                    <td>{{stock_data['NC청주'][4]}}</td>
                    <td>{{stock_data['NC청주'][5]}}</td>
                    <td>{{stock_data['NC청주'][6]}}</td>
                    <td>{{stock_data['NC청주'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">NC 송파</th>
                    <td>{{stock_data['NC송파'][0]}}</td>
                    <td>{{stock_data['NC송파'][1]}}</td>
                    <td>{{stock_data['NC송파'][2]}}</td>
                    <td>{{stock_data['NC송파'][3]}}</td>
                    <td>{{stock_data['NC송파'][4]}}</td>
                    <td>{{stock_data['NC송파'][5]}}</td>
                    <td>{{stock_data['NC송파'][6]}}</td>
                    <td>{{stock_data['NC송파'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">MD 천안</th>
                    <td>{{stock_data['MD천안'][0]}}</td>
                    <td>{{stock_data['MD천안'][1]}}</td>
                    <td>{{stock_data['MD천안'][2]}}</td>
                    <td>{{stock_data['MD천안'][3]}}</td>
                    <td>{{stock_data['MD천안'][4]}}</td>
                    <td>{{stock_data['MD천안'][5]}}</td>
                    <td>{{stock_data['MD천안'][6]}}</td>
                    <td>{{stock_data['MD천안'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">계</th>
                    <td>{{stock_data['계'][0]}}</td>
                    <td>{{stock_data['계'][1]}}</td>
                    <td>{{stock_data['계'][2]}}</td>
                    <td>{{stock_data['계'][3]}}</td>
                    <td>{{stock_data['계'][4]}}</td>
                    <td>{{stock_data['계'][5]}}</td>
                    <td>{{stock_data['계'][6]}}</td>
                    <td>{{stock_data['계'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">창고</th>
                    <td>{{ware_data['창고'][0]}}</td>
                    <td>{{ware_data['창고'][1]}}</td>
                    <td>{{ware_data['창고'][2]}}</td>
                    <td>{{ware_data['창고'][3]}}</td>
                    <td>{{ware_data['창고'][4]}}</td>
                    <td>{{ware_data['창고'][5]}}</td>
                    <td>{{ware_data['창고'][6]}}</td>
                    <td>{{ware_data['창고'][7]}}</td>
                  </tr>
                </tbody>
              </table>
            </figure>
        </div>
        <div><!-- 판매조회 표 -->
          <section id="tables">
            <figure>
              <label for="tables">판매조회</label>
              <table role="grid">
                <thead>
                  <tr>
                    <th scope="col">매장명</th>
                    <td>{{sell_data['size'][0]}}</td>
                    <td>{{sell_data['size'][1]}}</td>
                    <td>{{sell_data['size'][2]}}</td>
                    <td>{{sell_data['size'][3]}}</td>
                    <td>{{sell_data['size'][4]}}</td>
                    <td>{{sell_data['size'][5]}}</td>
                    <td>{{sell_data['size'][6]}}</td>
                    <td>{{sell_data['size'][7]}}</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">NC 불광</th>
                    <td>{{sell_data['NC불광'][0]}}</td>
                    <td>{{sell_data['NC불광'][1]}}</td>
                    <td>{{sell_data['NC불광'][2]}}</td>
                    <td>{{sell_data['NC불광'][3]}}</td>
                    <td>{{sell_data['NC불광'][4]}}</td>
                    <td>{{sell_data['NC불광'][5]}}</td>
                    <td>{{sell_data['NC불광'][6]}}</td>
                    <td>{{sell_data['NC불광'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">MD 구리</th>
                    <td>{{sell_data['MD구리'][0]}}</td>
                    <td>{{sell_data['MD구리'][1]}}</td>
                    <td>{{sell_data['MD구리'][2]}}</td>
                    <td>{{sell_data['MD구리'][3]}}</td>
                    <td>{{sell_data['MD구리'][4]}}</td>
                    <td>{{sell_data['MD구리'][5]}}</td>
                    <td>{{sell_data['MD구리'][6]}}</td>
                    <td>{{sell_data['MD구리'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">2001 분당</th>
                    <td>{{sell_data['TO분당'][0]}}</td>
                    <td>{{sell_data['TO분당'][1]}}</td>
                    <td>{{sell_data['TO분당'][2]}}</td>
                    <td>{{sell_data['TO분당'][3]}}</td>
                    <td>{{sell_data['TO분당'][4]}}</td>
                    <td>{{sell_data['TO분당'][5]}}</td>
                    <td>{{sell_data['TO분당'][6]}}</td>
                    <td>{{sell_data['TO분당'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">LT 청주</th>
                    <td>{{sell_data['LT청주'][0]}}</td>
                    <td>{{sell_data['LT청주'][1]}}</td>
                    <td>{{sell_data['LT청주'][2]}}</td>
                    <td>{{sell_data['LT청주'][3]}}</td>
                    <td>{{sell_data['LT청주'][4]}}</td>
                    <td>{{sell_data['LT청주'][5]}}</td>
                    <td>{{sell_data['LT청주'][6]}}</td>
                    <td>{{sell_data['LT청주'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">MD 부평</th>
                    <td>{{sell_data['MD부평'][0]}}</td>
                    <td>{{sell_data['MD부평'][1]}}</td>
                    <td>{{sell_data['MD부평'][2]}}</td>
                    <td>{{sell_data['MD부평'][3]}}</td>
                    <td>{{sell_data['MD부평'][4]}}</td>
                    <td>{{sell_data['MD부평'][5]}}</td>
                    <td>{{sell_data['MD부평'][6]}}</td>
                    <td>{{sell_data['MD부평'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">NC 청주</th>
                    <td>{{sell_data['NC청주'][0]}}</td>
                    <td>{{sell_data['NC청주'][1]}}</td>
                    <td>{{sell_data['NC청주'][2]}}</td>
                    <td>{{sell_data['NC청주'][3]}}</td>
                    <td>{{sell_data['NC청주'][4]}}</td>
                    <td>{{sell_data['NC청주'][5]}}</td>
                    <td>{{sell_data['NC청주'][6]}}</td>
                    <td>{{sell_data['NC청주'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">NC 송파</th>
                    <td>{{sell_data['NC송파'][0]}}</td>
                    <td>{{sell_data['NC송파'][1]}}</td>
                    <td>{{sell_data['NC송파'][2]}}</td>
                    <td>{{sell_data['NC송파'][3]}}</td>
                    <td>{{sell_data['NC송파'][4]}}</td>
                    <td>{{sell_data['NC송파'][5]}}</td>
                    <td>{{sell_data['NC송파'][6]}}</td>
                    <td>{{sell_data['NC송파'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">MD 천안</th>
                    <td>{{sell_data['MD천안'][0]}}</td>
                    <td>{{sell_data['MD천안'][1]}}</td>
                    <td>{{sell_data['MD천안'][2]}}</td>
                    <td>{{sell_data['MD천안'][3]}}</td>
                    <td>{{sell_data['MD천안'][4]}}</td>
                    <td>{{sell_data['MD천안'][5]}}</td>
                    <td>{{sell_data['MD천안'][6]}}</td>
                    <td>{{sell_data['MD천안'][7]}}</td>
                  </tr>
                  <tr>
                    <th scope="row">계</th>
                    <td>{{sell_data['계'][0]}}</td>
                    <td>{{sell_data['계'][1]}}</td>
                    <td>{{sell_data['계'][2]}}</td>
                    <td>{{sell_data['계'][3]}}</td>
                    <td>{{sell_data['계'][4]}}</td>
                    <td>{{sell_data['계'][5]}}</td>
                    <td>{{sell_data['계'][6]}}</td>
                    <td>{{sell_data['계'][7]}}</td>
                  </tr>
                </tbody>
              </table>
            </figure>
        </div>
      </div>
    </main>
  </body>