/* css/custom.css */

.container {
    max-width: 90%; /* 또는 적절한 값을 설정하여 최대 가로 폭을 조절 */
    margin: 0 auto; /* 중앙 정렬을 위한 스타일 */
}

.grid {
    margin: 100; /* .grid 클래스의 가로 여백을 0으로 설정 */
}

/* 표 안의 td와 th에 대한 스타일 */
table td,
table th {
    font-size: 13px; /* 원하는 폰트 크기로 조절 */
}

/* 표의 헤더 (thead)에 대한 스타일 */
table thead th {
    font-weight: bold; /* 헤더의 글씨를 두껍게 만들기 */
}

/* 첫 번째 열의 스타일 */
table td:first-child,
table th:first-child {
    white-space: nowrap; /* 줄바꿈 방지 */
}

/* 두 번째 열부터의 스타일 */
table td:not(:first-child),
table th:not(:first-child) {
    width: 100px; /* 너비를 1로 설정 */
}

/* 표의 마지막 행에 대한 스타일 */
table tbody tr:last-child {
    font-weight: bold; /* 마지막 행의 글씨를 두껍게 만들기 */
}